﻿
@model List<Person>
@{
    ViewBag.Title = "Phonebook";
}


<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <a id="Add" class="btn btn-primary waves-effect" href="#">Add New Contact</a>
            <a id="SortA" class="btn btn-primary waves-effect" href="#">Sort (A->Z)</a>
            <a id="SortZ" class="btn btn-primary waves-effect" href="#">Sort (Z->A)</a>
        </div>
        <div class="ParentContacts">
            <div class="contacts">
                @foreach (var item in Model)
            {
                Html.RenderPartial("_Contact", item);
            }
            </div>
        </div>
        
    </div>
</section>
<div class="modal fade" id="defaultModal" data-status="" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="defaultModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class="form-group form-float">
                        <div class="form-line focused">
                            <input type="text" class="form-control nameInput">
                            <label class="form-label">Name</label>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line focused">
                            <input type="tel" class="form-control phoneInput">
                            <label class="form-label">Phone Number</label>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line focused">
                            <input type="text" class="form-control addressInput">
                            <label class="form-label">Address</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link waves-effect saveBtn">SAVE CHANGES</button>
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('.list li').eq(2).addClass('active');
    $(function () {
        $('#SortA').click(function () {
            var alphabeticallyOrderedDivs = $('.card').sort(function (a, b) {
                return String.prototype.localeCompare.call($(a).data('person-name').toLowerCase(), $(b).data('person-name').toLowerCase());
            });
            var container = $(".contacts");
            container.detach().empty().append(alphabeticallyOrderedDivs);
            $('.ParentContacts').append(container);
        });
        $('#SortZ').click(function () {
            var alphabeticallyOrderedDivs = $('.card').sort(function (b, a) {
                return String.prototype.localeCompare.call($(a).data('person-name').toLowerCase(), $(b).data('person-name').toLowerCase());
            });
            var container = $(".contacts");
            container.detach().empty().append(alphabeticallyOrderedDivs);
            $('.ParentContacts').append(container);
        });


        $(document).on('click', '#Add', function () {
            $('#defaultModal').data('status', 'add');
            $('.modal-title').text('Add New Contact');
            $('.modal-body .form-line').removeClass('focused');
            $('.nameInput').val('');
            $('.addressInput').val('');
            $('.phoneInput').val('');
            $('#defaultModal').modal();
        });

        $(document).on('click', '.delete', function () {
            editedItem = $(this).parents('.card');
            name = editedItem.data('person-name');
            swal({
                title: "Are you sure",
                text: name + " will bet deleted!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: false
            }, function () {
                editedItem.remove();
                swal("Deleted!", name + " has been deleted.", "success");
            });
            
        });

        var editedItem = null;
        $(document).on('click', '.edit', function () {
            $('#defaultModal').data('status', 'edit');
            $('.modal-body .form-line').addClass('focused');
            editedItem = $(this).parents('.card');
            var name = editedItem.data('person-name');
            var address = editedItem.data('person-address');
            var phone = editedItem.data('person-phone');
            $('.modal-title').text('Edit ' + name + ' Info');
            $('.nameInput').val(name);
            $('.addressInput').val(address);
            $('.phoneInput').val(phone);
            $('#defaultModal').modal();
        });
        $(document).on('click', '.saveBtn', function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetContact")",
                data: '{name: "' + $('.nameInput').val() + '",phone_number: "' + $('.phoneInput').val() + '" ,address: "' + $('.addressInput').val() + '"  }',
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    if ($('#defaultModal').data('status') == 'edit')
                        editedItem.replaceWith(response);
                    else
                        $('.contacts').prepend(response);
                    $('#defaultModal').modal('toggle');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
        $('.Search').keyup(function () {
            $('.card').hide();
            if ($('.Search').val().length >= 0) {
                $('.card').each(function (e) {
                    if ($(this).data('person-name').indexOf($('.Search').val()) >= 0)
                        $(this).show();
                    else
                        $(this).hide();
                });
            }
        });
    });
</script>
<link href="/Content/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="/Content/plugins/sweetalert/sweetalert.min.js"></script>