﻿@model Person
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card" data-person-name="@Model.name" data-person-address="@Model.address" data-person-phone="@Model.phone_number">
            <div class="header bg-red">
                <h2>
                    <i class="material-icons">person</i>
                    @Model.name
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a class="edit" href="javascript:void(0);">Edit</a></li>
                            <li><a data-type="confirm" class="delete" href="javascript:void(0);">Delete</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <a href="tel:@Model.phone_number">
                    <i class="material-icons">call</i>
                    <span>@Model.phone_number</span>
                </a>
                <br />
                <i class="material-icons">location_on</i>
                <span>@Model.address</span>
            </div>
        </div>
    </div>
</div>
